<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div id="container">
        <div id="main">
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <h1>Sign up</h1>
                <p class="username">Username<input type="text" name="username" maxlength="150" required class="username_input"></p>
                <p class="password">Password <input type="password" name="password1" required class="password_input"></p>
                <p class="password">Password confirm<input type="password" name="password2" required class="password_input"></p>
                <p class="email">Email<input type="email" name="email" required class="email_input"></p>
                {% if message %}
                    <h1 id="error">{{ message }}</h1>
                {%  endif %}
                <input type="submit" value="Register" id="submit">
            </form>
        </div>
    </div>
</body>
</html>