html, body {
    height: 100%;
    margin: 0;
}

header {
    margin-top: 10px !important;
}

.body_block {
    height: 100%;
}

.change_color {
    position: fixed;
    top: 40%;
    right: 0;
}

.change_color_div {
    width: 80px;
    height: 30px;
    border: 2px solid black;
}

.change_color_p {
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    border: 0;
    margin: 0;
}

footer {
    position: relative;
    margin-top: auto; /* negative value of footer height */
    height: 100px;
    clear: both;
    top: 5%;
}

table {
    width: 100%;
    height: 100%;
    text-align: center;
}

.footer_p, .footer_a {
    margin: 0;
    display: inline-block;
    font-size: 24px;
}