<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
</head>
<body>
    {% for product in products %}
        <a href="{{ product.title }}" class="products">
            <h3>{{ product.title }}</h3>
            <img src="{{ product.image.url }}" width="200px">
            <p>{{ product.description }}</p>
        </a>
        <a href="{% url 'category' product.category %}">Category - {{ product.category }}</a>
        <a href="{% url 'subcategory' product.subcategory %}">Subcategory - {{ product.subcategory }}</a>
    {% endfor %}
</body>
</html>