<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
</head>
<body>
    <form action="" method="GET">
        <input type="text" name="name" placeholder="Search by name">
        <select name="category">
            <option value="None">------</option>
            {% for subcategory in subcategories %}
            <option value="{{ subcategory.id }}">{{ subcategory.name }}</option>
            {% endfor %}
        </select>
        <input type="number" name="from" placeholder="from">
        <input type="number" name="to" placeholder="to">
        <select name="sort">
            <option value="title+">Name +</option>
            <option value="likes+">Likes +</option>
            <option value="price+">Price +</option>
            <option value="title-">Name -</option>
            <option value="likes-">Likes -</option>
            <option value="price-">Price -</option>
        </select>
        <input type="submit" value="Search">
    </form>
    {% if products %}
        {% for product in products %}
            <div class="products">
                    <a href="{{ product.title }}">
                        <h3>{{ product.title }}</h3><br>
                        <img src="{{ product.image.url }}" width="200px"><br>
                        <p>{{ product.description }}</p><br>
                        <p>Likes: {{ product.likes }}</p><br>
                        <p>Price: {{ product.price }}</p><br>
                    </a>
                    <a href="{% url 'subcategory' product.subcategory %}">Subcategory - {{ product.subcategory }}</a>
                </div>
        {% endfor %}
    {% endif %}
</body>
</html>