<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
</head>
<body>
    {% for product in products %}
        <div class="products">
                <a href="{{ product.title }}">
                    <h3>{{ product.title }}</h3><br>
                    <img src="{{ product.image.url }}" width="200px"><br>
                    <p>{{ product.description }}</p><br>
                    <p>Price: {{ product.price }}</p><br>
                </a>
                <a href="{% url 'subcategory' product.subcategory %}">Subcategory - {{ product.subcategory }}</a>
            </div>
    {% endfor %}
</body>
</html>