{% extends 'base.html' %}
{% load static %}

{% block title %}
ASA Subcategory
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static  'css/products.css' %}">
{% endblock %}

{% block main %}
<h1>{{ product.title }}</h1>
<img src="{{ product.image.url }}" width="200"><br>
<p>{{ product.description }}</p><br>
<p>Price: {{ product.price }}</p><br>
{% if liked %}
    <img id="like_picture_{{ product.id }}" src="{% static 'images/like.png' %}" width="30" height="30" onclick="like({{ product.id }}, 'like')" style="visibility: hidden; position: absolute;">
    <img id="like_picture_colored_{{ product.id }}" src="{% static 'images/liked.png' %}" width="30" height="30" onclick="like({{ product.id }}, 'like')">
{% else %}
    <img id="like_picture_{{ product.id }}" src="{% static 'images/like.png' %}" width="30" height="30" onclick="like({{ product.id }}, 'like')">
    <img id="like_picture_colored_{{ product.id }}" src="{% static 'images/liked.png' %}" width="30" height="30" onclick="like({{ product.id }}, 'like')" style="visibility: hidden; position: absolute;">
{% endif %}
<p id="likes_{{ product.id }}" class="like_dislike">{{ product.likes }}</p>
{% if disliked %}
    <img id="dislike_picture_{{ product.id }}" src="{% static 'images/dislike.png' %}" width="30" height="30" onclick="like({{ product.id }}, 'dislike')" style="visibility: hidden; position: absolute;">
    <img id="dislike_picture_colored_{{ product.id }}" src="{% static 'images/disliked.png' %}" width="30" height="30" onclick="like({{ product.id }}, 'dislike')">
{% else %}
    <img id="dislike_picture_{{ product.id }}" src="{% static 'images/dislike.png' %}" width="30" height="30" onclick="like({{ product.id }}, 'dislike')">
    <img id="dislike_picture_colored_{{ product.id }}" src="{% static 'images/disliked.png' %}" width="30" height="30" onclick="like({{ product.id }}, 'dislike')" style="visibility: hidden; position: absolute;">
{% endif %}
<p id="dislikes_{{ product.id }}" class="like_dislike">{{ product.dislikes }}</p><br>
<input type="number" class="form-control" name="number" id="number_{{ product.id }}" min="1" max="10" value="1">
<button class="btn btn-success btn-buy" onclick="add_cart({{ product.id }})">Add to Cart</button>


<div>
    <form id="form_buying_product" class="form-inline" action="{% url 'basket_adding' %}">{% csrf_token%}

        <div class="form-group">
            <input type="number" class="form-control" name="number" id="number" min="1" max="10" value="1">
        </div>
        <div class="form-group">
            <button type="submit" id="submit_btn" class="btn btn-success btn-buy"
                    data-product_id = "{{ product.0.id }}"
                    data-product_name = "{{ product.0.title }}"
                    data-product_price = "{{ product.0.price }}"
                    data-product_total_price = "{{ ProductInBasket.total_price }}"
                    >Add Cart
            </button>
        </div>
    </form>
</div>


<a href="{% url 'category' category %}">Category - {{ category }}</a><br>
<a href="{% url 'subcategory' product.subcategory %}">Subcategory - {{ product.subcategory }}</a><br>
<a href="{% url 'all_products' %}">
    To main page
</a>
{% endblock %}

{% block js %}
<script src="{% static 'js/like.js' %}"></script>
{% endblock %}