<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subcategory</title>
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
</head>
<body>
    <div class="header">
        <div class="header__section">
            <div class="header_item headerlogo">
                <a href="{% url 'index' %}" class="name_page hraderbutton">ASA</a>
            </div>
            <div class="header_item hraderbutton"><a href="{% url 'index' %}" class="part_header_a">Home</a></div>
            <div class="header_item hraderbutton"><a href="{% url 'all_products' %}" class="part_header_a" >Products</a></div>
            <div class="header_item hraderbutton"><a href="#" class="part_header_a" >Promotion</a></div>
            <div class="header_item hraderbutton"><a href="#" class="part_header_a" >Delivery & Payment</a></div>
            <div class="header_item hraderbutton"><a href="#" class="part_header_a" >About</a></div>
        </div>
        <div class="header__section">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="9" cy="4" r="3.25" stroke="white" stroke-width="1.5"></circle>
                <path d="M17 18V15C17 12.7909 15.2091 11 13 11H5C2.79086 11 1 12.7909 1 15V18" stroke="white" stroke-width="1.5"></path>
            </svg>
            {% if user.is_authenticated %}
            <div class="header_item hraderbutton"><p href="{% url 'profile' %}" class="part_header_p">{{ user.username }}</p></div>
            <div class="header_item hraderbutton"><a href="{% url 'logout' %}" class="part_header_a">Log out</a></div>
            {% else %}
            <div class="header_item hraderbutton"><a href="{% url 'login' %}" class="part_header_a" >Sign In</a></div>
            <div class="header_item hraderbutton"><a href="{% url 'register' %}" class="part_header_a" >Sign Up</a></div>
            {% endif %}
        </div>
    </div>
    <h1>Subcategory: {{ subcategory.name }}</h1>
    <a href="{% url 'category' subcategory.category %}"><h2>Category: {{ subcategory.category }}</h2></a>
    <h3>Subcategories</h3>
    <ul>
    {% for cat in other_cats %}
        <li><a href="{% url 'subcategory' cat.name %}">{{ cat.name }}</a></li>
    {% endfor %}
    </ul>
    <h3>Products</h3>
    <ul>
    {% for product in products %}
        <li><a href="{% url 'spec_product' product.title %}">{{ product.title }}</a></li>
    {% endfor %}
    </ul>
    <a href="{% url 'all_products' %}" class="products">
        To main page
    </a>
</body>
</html>