<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    {% include 'header.html' %}
    <main class="body_block">
        {% include 'color.html' %}
        {% block main %}{% endblock %}
    </main>
    {% include 'footer.html' %}

    <script src="{% static 'js/change_color.js' %}"></script>

    {% block js %}{% endblock %}
</body>
</html>