<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <div class="body_block">
        <header class="header color_changeable">
            <div class="header__section">
                <div class="header_item headerlogo">
                    <a href="{% url 'index' %}" class="name_page hraderbutton">ASA</a>
                </div>
                <div class="header_item hraderbutton"><a href="{% url 'index' %}" class="part_header_a">Home</a></div>
                <div class="header_item hraderbutton"><a href="{% url 'all_products' %}" class="part_header_a" >Products</a></div>
                <div class="header_item hraderbutton"><a href="#" class="part_header_a" >Promotion</a></div>
                <div class="header_item hraderbutton"><a href="#" class="part_header_a" >Delivery & Payment</a></div>
                <div class="header_item hraderbutton"><a href="{% url 'about' %}" class="part_header_a" >About</a></div>
            </div>
            <div class="header__section">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="9" cy="4" r="3.25" stroke="white" stroke-width="1.5"></circle>
                    <path d="M17 18V15C17 12.7909 15.2091 11 13 11H5C2.79086 11 1 12.7909 1 15V18" stroke="white" stroke-width="1.5"></path>
                </svg>
                {% if user.is_authenticated %}
                <div class="header_item hraderbutton"><a href="{% url 'profile' %}" class="part_header_a">{{ user.username }}</a></div>
                <div class="header_item hraderbutton"><a href="{% url 'logout' %}" class="part_header_a">Log out</a></div>
                {% else %}
                <div class="header_item hraderbutton"><a href="{% url 'login' %}" class="part_header_a" >Sign In</a></div>
                <div class="header_item hraderbutton"><a href="{% url 'register' %}" class="part_header_a" >Sign Up</a></div>
                {% endif %}
            </div>
        </header>
        <div class="change_color">
            <div class="change_color_div"><p class="change_color_p" style="background-color: green;" onclick="change_color('#20A633', '#0C7F33')">Green</p></div>
            <div class="change_color_div"><p class="change_color_p" style="background-color: red;" onclick="change_color('#EA1515', '#8C1818')">Red</p></div>
            <div class="change_color_div"><p class="change_color_p" style="background-color: blue;" onclick="change_color('#2E8DDC', '#064F8C')">Blue</p></div>
            <div class="change_color_div"><p class="change_color_p" style="background-color: gray;" onclick="change_color('#B5B5B5', '#7C7C7C')">Gray</p></div>
        </div>
        <main>
        {% block main %}{% endblock %}
        </main>
    </div>
    <script src="{% static 'js/change_color.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>