<footer class="footer color_changeable">
    <table>
        <tr>
            <td>
                <p class="footer_p">Phone</p>
            </td>
            <td>
                <p class="footer_p">Gmail</p>
            </td>
            <td>
                <p class="footer_p">Facebook</p>
            </td>
            <td>
                <p class="footer_p">VK</p>
            </td>
            <td>
                <p class="footer_p">Telegram</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="footer_p" style="color: white;">+374-(00)-000-000</p>
            </td>
            <td>
                <a class="footer_a" style="color: white;" href="mailto:localhost@gmail.com">localhost@localhost.com</a>
            </td>
            <td>
                <a class="footer_a" style="color: white;" href="http://facebook.com/ASA">ASA Facebook</a>
            </td>
            <td>
                <a class="footer_a" style="color: white;" href="http://vk.com/ASA">ASA Vk</a>
            </td>
            <td>
                <a class="footer_a" style="color: white;" href="http://telegram.com/ASA">ASA Telegram</a>
            </td>
        </tr>
    </table>
</footer>